<a href="https://colab.research.google.com/github/dammmie-beep/data-_insight_assignment/blob/main/Rashidat_sikiru_stageA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_excel("/content/FoodBalanceSheets_E_Africa_NOFLAG.xlsx")

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [40]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [42]:
# 1.
df.Area.nunique()

49

In [46]:
# 2
df.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [48]:
# 3
df.shape

(60943, 12)

In [49]:
# 4
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [50]:
# 5
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
pd.DataFrame(lst,columns =col, index =[1,2,3,])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [51]:
# 6
y = [(2, 4), (7, 8), (1, 5, 9)]
x =y[1][1]
x

8

In [54]:
# 7
df.groupby("Item")["Y2015","Y2018"].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [55]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

In [56]:
df.groupby("Element")["Y2015","Y2016","Y2017","Y2018"].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,Y2015,Y2016,Y2017,Y2018
Element,,,,
Domestic supply quantity,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10235.74,10102.77,10253.84,10258.69
Feed,225050.22,228958.65,223705.68,233489.68
Food,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49345.13,48985.28,48690.04,49056.85
Import Quantity,267018.46,286582.78,294559.09,287997.09
Losses,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),66254.41,69563.68,91645.97,91300.97
Processing,287929.00,280631.00,292836.00,308429.00
Production,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11833.95,11779.69,11842.45,11833.56
Residuals,30045.00,37224.00,35500.00,34864.00
Seed,23976.82,23389.20,24870.14,25263.14
Stock Variation,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,349.00,89.00,91.00,90.00

In [60]:
df.groupby(["Area","Element"])["Y2015",].sum().tail

                                                    Y2015
Area     Element
Algeria  Domestic supply quantity                85972.86
         Export Quantity                          1104.62
         Fat supply quantity (g/capita/day)        317.40
         Feed                                    10308.00
         Food                                    61693.49
...                                                   ...
Zimbabwe Protein supply quantity (g/capita/day)    175.31
         Residuals                                -780.00
         Seed                                      128.00
         Stock Variation                          -343.00
         Total Population - Both sexes           13815.00

[803 rows x 1 columns]

In [65]:
df.groupby("Area")["Y2017",].sum()

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34